.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 7.5rem;
    padding-bottom: 1.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    z-index: 2;
}

.headerActions {
    display: flex;
    justify-content: space-between;
}