.productCart {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    margin-bottom: 2.5rem;
}

.productImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.productImage img {
    width: 12rem;
    height: 10rem;
}

.productDescription {    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.productDescription > h2 {
    font-size: 1.6rem;
}

.productDescription > p {
    text-align: left;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.productCartActions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
}

.productCartActions > span {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--soft-grey);
    color: var(--text-helper-color);
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.4rem;
}

.productCartActions > * {
    vertical-align: middle;
}