.shoppingCart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white);
    max-width: 37.5rem;
    min-height: 100vh;
    width: 100%;
    box-shadow: var(--box-shadow);
    z-index: 3;
}

.shoppingCartContent {
    padding-top: 23rem;
    padding-bottom: 5rem;
}

.shoppingCartContent ul {
    overflow-y: scroll;
    height: 38rem;
}

@media screen and (min-width: 375px) {
    .shoppingCart {
        left: initial;
    }
}