.shoppingCart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white);
    max-width: 37.5rem;
    min-height: 100vh;
    width: 100%;
    box-shadow: var(--box-shadow);
    z-index: 3;
}

.shoppingCartContent {
    padding-top: 16rem;
    padding-bottom: 5rem;
}

.shoppingCartCheckout {
    position: absolute;
    bottom: 1rem;
    right: var(--padding-box);
    left: var(--padding-box);
}

.shoppingCartContent ul {
    padding-right: 1rem;
    overflow-y: scroll;
    height: 60vh;
}

.shoppingCartContent ul::-webkit-scrollbar {
    width: 2px;
}

@media screen and (min-width: 375px) {
    .shoppingCart {
        left: initial;
    }
}
