.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 0;
    background-color: var(--white);
    z-index: 2;
}

.headerPreviousButton {
    margin-bottom: 1rem;
}

.headerActions {
    display: flex;
    justify-content: space-between;
}
