.productList {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
}

@media screen and (min-width: 620px) {
    .productList {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 960px) {
    .productList {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {}