.productList {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5rem;
    justify-content: center;
}

.productList > li {
    max-width: 25rem;
}

@media screen and (min-width: 565px) {
    .productList {
        grid-template-columns: auto auto;
        column-gap: 1.5rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 830px) {
    .productList {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 1095px) {
    .productList {
        grid-template-columns: repeat(4, auto);
    }
}